{% extends "base.html.twig" %}

{% block content %}
    <h1>Extensions</h1>
    <ul>
        {% for extension in extensions %}
        <li>
            <p><a href="{{ url_for('extension', { 'id': extension.id }) }}">{{ extension.name }}</a></p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
