{% extends "base.html.twig" %}

{% block content %}
  <h1>FOSSBilling Extension Directory</h1>
  <p>Welcome to the FOSSBilling Extension Directory.<br/>
    Please note that only extensions that can be auto-installed from within FOSSBilling are included in the directory at this time. <br/>
    For a list of other working extenstions i.e. domain registrars modules please <a href="https://fossbilling.org/docs/extensions" target="_blank"> our documentation</a>.</p>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for extension in extensions %}
      <a href="{{ url_for('extension', { 'id': extension.id }) }}" class="text-decoration-none">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-12">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <img src= "{{ extension.icon_url }}" class="img-fluid rounded-start ml-1" style="max-width 24px; max-height: 24px;">
                    <h5 class="mb-0">{{ extension.name }}</h5>
                  </div>
                  <p class="card-text">{{ extension.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
