name: Build and Test

permissions:
  contents: read

on:
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  composer:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ 8.3, 8.4, 8.5 ]

    name: PHP ${{ matrix.php }} - Validate & Cache Dependencies 
    steps:
      - uses: actions/checkout@v6

      - name: Validate composer.json and composer.lock
        uses: php-actions/composer@v6
        with:
          command: validate
          php_extensions: bcmath

      - name: Cache Composer Dependencies
        id: composer-cache
        uses: actions/cache@v5
        with:
          path: ./src/Vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install Composer Dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php }}
          php_extensions: bcmath

  phpstan:
    runs-on: ubuntu-latest
    needs: [ composer ]
    strategy:
      matrix:
        php: [ 8.3, 8.4, 8.5 ]

    name: PHP ${{ matrix.php }} - PHPStan
    steps:
      - uses: actions/checkout@v6

      - name: Cache Composer Dependencies
        id: composer-cache
        uses: actions/cache@v5
        with:
          path: ./src/Vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Run PHPStan
        uses: php-actions/phpstan@v3
        with:
          php_version: ${{ matrix.php }}
          configuration: phpstan.neon
          memory_limit: 512M
          version: latest
          php_extensions: bcmath
